/*Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 600px) {
    .container{
        padding: 0 20px;
    }
    .main_menu{
        padding: 30px 0;
    }
    .menu_icon{
        display: show;
    }
    .logo img{
        width: 16%;
        padding: 0;
    }
    .logo h3{
        font-size: 22px;
        margin: -2px 0 0 -20px;
    }
    
    .menu ul li {
        display: none;
    }
    /* banner start */
    .banner_main {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .banner_text{
        padding: 0 35px;
    }
    .banner_text h1{
        font-size: 22px;
    }
    .banner_text p{
        font-size: 14px;

    }
    .ban_bot{
        display: block;
        width: 85%;
        text-align: center;
    }




    /* banner END */
    

}