/*Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 600px) {
    .container{
        padding: 0 20px;

    }
    .navbar{
        align-items: start !important;
    }
    .main_menu{
        padding: 30px 0;
    }
    .menu_icon{
        display: show;
    }
    .logo img{
        width: 16%;
        padding: 0;
    }
    .logo h3{
        font-size: 22px;
        margin: -2px 0 0 -20px;
    }
    
    .menu ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    .menu ul li a{
        padding: 50px;

        color: #fff;
    }
    .menu{
        background-color: #e6895a;
        height: 0;
        left: 20px;
        top: 70px;
        right: 20px;
        overflow: hidden;
        transition: .3s;
        position: fixed;
        z-index: 999;
    }
    .toggleButton{
        font-size: 20px;
        border: none;
        display: block !important ;
    }
    .c_height{
        height: 180px !important;
        transition: .3s;
    }
    /* banner start */
    .banner_main {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .banner_text{
        padding: 0 35px;
    }
    .banner_text h1{
        font-size: 22px;
    }
    .banner_text p{
        font-size: 14px;

    }
    .ban_bot{
        flex-direction: row;
        width: 85%;
        text-align: center;
    }
    .ban_form form *{
        text-align: center;
        margin-bottom: 10px;
        width: 91%;
    }
    .ban_form{
        flex-direction: column;
    }
    .ban_btn a{
        text-align: center;
        width: 100%;
    }




    /* banner END */
    

}